.wp-block-table table{
  width: 100%;
  border-collapse: collapse;
}
.wp-block-table tbody tr:nth-child(odd){
  background: var(--wp--preset--color--surface);
}
.wp-block-table td,
.wp-block-table th{
  padding: 0.5rem;
}