<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main-content">
  <!-- wp:heading {"level":1} -->
  <h1>Mapa del sitio</h1>
  <!-- /wp:heading -->
  <!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column -->
  <div class="wp-block-column"><!-- wp:heading {"level":3} -->
  <h3>Páginas</h3>
  <!-- /wp:heading --><!-- wp:page-list /--></div>
  <!-- /wp:column --><!-- wp:column -->
  <div class="wp-block-column"><!-- wp:heading {"level":3} -->
  <h3>Archivos</h3>
  <!-- /wp:heading --><!-- wp:archives /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->